#fifth {
  .row {
    position: relative;
  }
    h1 {
      text-align: center;
      font-size: 70px;
      border: 3px solid black;
      margin-top: 20px;
      width: 99%;
        @media (max-width: 1024px) {
          width: 99.5%;
        }
        @media (max-width: 425px) {
          width: 98.5%;
          margin-top: 30px;
        }
        @media (max-width: 320px) {
          margin-top: 30px;
        }
  }
  .text {
    width: 49%;
    @media (max-width: 1024px) {
      width: 48.5%;
    }
    textarea {
      font-size: 30px;
      width: 30vw;
        @media (max-width: 1024px) {
          margin-left: 30px;
          width: 420px;
        }
        @media (max-width: 768px) {
          margin-left: 30px;
          width: 300px;
        }
        @media (max-width: 425px) {
          height: 300px;
          margin-left: 51px;
          margin-top: -30px;
        }
        @media (max-width: 375px) {
          margin-left: 25px;
        }
        @media (max-width: 320px) {
          margin-left: -1px;
          width: 255px;
        }
    }
  }
  .input {
    width: 49%;
    margin-left: 20px;
      @media (max-width: 1024px) {
        width: 48.5%;
      }
      @media (max-width: 425px) {
        width: 100%;
      }
    input {
      width: 300px;
      height: 35px;
      font-size: 30px;
        @media (max-width: 1024px) {
          width: 360px;
        }
        @media (max-width: 768px) {
          width: 250px;
        }
        @media (max-width: 425px) {
          width: 302px;
          height: 35px;
          margin-left: 30px;
          font-size: 30px;
          margin-bottom: -4px;
        }
        @media (max-width: 375px) {
          margin-left: 6px;
        }
        @media (max-width: 320px) {
          margin-left: -21px;
          width: 257px;
        }
    }
      input:first-of-type {
        @media (max-width: 425px) {
        margin-top: 20px;
        }
      }
      input:last-of-type {
        @media (max-width: 425px) {
        width: 305px;
      }
      @media (max-width: 320px) {
        width: 264px;
      }
    }
  }

  .social {
    width: 24%;
    height: 143px;
    font-size: 70px;
      @media (max-width: 425px) {
        font-size: 50px;
      }
      @media (max-width: 375px) {
        margin-top: -60px;
        margin-left: -2px;
      }
      @media (max-width: 320px) {
        margin-left: 0;
      }
  }

  .fb {
    color: #fff;
    background-color: #4668b6;
    position: absolute;
    bottom: 0;
      @media (max-width: 320px) {
        margin-left: -30px;
      }
  }
  .tw {
    color: #fff;
    background-color: #3095d3;
    position: absolute;
    bottom: 0;
    @media (max-width: 320px) {
      margin-left: -22px;
    }
  }
  .inst {
    color: #fff;
    background-image: url('../images/insta.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    @media (max-width: 320px) {
      margin-left: -14px;
    }
  }
  .yt {
    color: #fff;
    background-color: #d94348;
    position: absolute;
    bottom: 0;
    @media (max-width: 320px) {
      margin-left: -6px;
    }
  }
}
