#first {
  .container {
    height: 100%;
    color: white;
  }
    background-image: url('../images/wall1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      img {
        color: black;
        display: block;
        margin: 0 auto;
        transform: scale(0.75);
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 50%;
          @media (max-width: 768px) {
            transform: scale(0.35);
            top: 100px;
          }
      }
        #ul {
          margin-top: 50%;
          position: relative;
          width: 99.5%;
          text-align: center;
          border: 3px solid black;
          @media (max-width: 768px) {
            margin-top: 460px;
            height: 70px;
          }
            .center {
              padding-left: 0;
                li {
                 display: inline;
                 text-align: center;
                 padding-left: 20px;
                 padding-right: 20px;
                 margin-left: 0;
                 font-size: 45px;
                 font-weight: 800;
                 @media (max-width: 768px) {
                   font-size: 35px;
                 }
        }
      }
      li:first-of-type {
        margin-left: 0;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        color: #fff;
    }
  }
}
