#first {
  .container {
    height: 100%;
    color: white;
  }

  .hamburger {
    width: 70px;
    height: 50px;
    font-size: 50px;
    display: none;
      @media (max-width: 425px) {
        display: block;
      }
  }

  .cancel {
    font-size: 50px;
    margin-left: 390px;
  }

  #mobilemenu {
    width:450px;
    margin-left: -40px;
    display: none;
      @media (max-width: 375px) {
        width:400px;
      }
      @media (max-width: 320px) {
        width:345px;
      }
      ul {
        list-style-type: none;
        text-align: center;
          li {
            font-size: 25px;
            font-weight: 800;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: black;
            opacity: 0.5;
            border-bottom: 2px solid #fff;
             a {
               text-decoration: none;
               color: #fff;
             }
          }
          li:first-of-type {
            border-top: 2px solid #fff;
            padding-top: 20px;
          }
          li:hover {
            opacity: 1;
          }
      }
  }

    background-image: url('../images/wall1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      img {
        color: black;
        display: block;
        margin: 0 auto;
        transform: scale(0.75);
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 50%;
          @media (max-width: 768px) {
            transform: scale(0.35);
            top: 100px;
          }
          @media (max-width: 425px) {
            top: 240px;
            left: -85px;
          }
          @media (max-width: 375px) {
            top: 240px;
            left: -105px;
          }
          @media (max-width: 320px) {
            top: 240px;
            left: -140px;
          }
      }
        #ul {
          margin-top: 50%;
          position: relative;
          width: 99.5%;
          text-align: center;
          border: 3px solid black;
          @media (max-width: 768px) {
            margin-top: 460px;
            height: 70px;
          }
          @media (max-width: 425px) {
            display: none;
          }
            .center {
              padding-left: 0;
                li {
                 display: inline;
                 text-align: center;
                 padding-left: 20px;
                 padding-right: 20px;
                 margin-left: 0;
                 font-size: 45px;
                 font-weight: 800;
                 @media (max-width: 768px) {
                   font-size: 35px;
                 }
        }
      }
      li:first-of-type {
        margin-left: 0;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        color: #fff;
    }
  }
}
