#fourth {
  background-image: url('../images/road.jpg');
  background-color: black;
  color: #fff;

  .container .row .col-8 {
    @media (max-width: 1024px) {
      width: 99.5%;
    }
  }

  .row {
    margin-top: 0;
  }
  .first {
    height: 200px;
      h1 {
        margin-top: 0;
        font-size: 1em;
        margin-bottom: 5px;
          @media (max-width: 768px) {
            font-size: 45px;
            margin-top: 20px;
          }
      }
  }

  .title {
    border: 3px solid #fff;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
  }
  .team {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #fff;
  }
  .col-2 {
    width: 24%;
    font-size: 150px;
  }
  .cyclists {
    height: 530px;
    position: relative;
    width: 39.3%;
  }
  .left {
    width: 30.2%;
    height: 20px;
    position: relative;
      button {
        position: absolute;
        right: 0;
        top:220px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 0;
        font-size: 60px;
          @media (max-width: 1024px) {
            right: -20px;
          }
          @media (max-width: 768px) {
            top:100px;
            font-size: 40px;
            width: 50px;
            height: 50px;
            right: 30px;
          }
          i {
            margin-left: -20px;
            @media (max-width: 768px) {
              margin-left: -14px;
            }
          }
      }
  }
  .right {
    margin-top: 0;
    color: white;
    width: 30.2%;
    position: relative;
    button {
      position: absolute;
      left: 6px;
      top:220px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 0;
      font-size: 60px;
        @media (max-width: 1024px) {
          left: -14px;
        }
        @media (max-width: 768px) {
          top:100px;
          font-size: 40px;
          width: 50px;
          height: 50px;
          left: 36px;
        }
        i {
          margin-left: -5px;
          @media (max-width: 768px) {
            margin-left: -2px;
          }
        }
    }
  }
  ul {
    list-style: none;
     li {
       display: none;
       img {
         width: 100%;
         position: absolute;
         margin-top: -30px;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-size: cover;
         border: 3px solid #fff;
           @media (max-width: 1024px) {
             transform: scale(0.9);
           }
           @media (max-width: 768px) {
             transform: scale(1.2);
           }
       }
     }
  }
  .visible {
    display: inline-block;
  }

  .visible1 {
    display: block;
  }

  .info {
    width: 100%;
    display: none;
    p {
      font-size: 2vw;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: -80px;
      left: 0;
      right: 0;
      color: white;
        @media (max-width: 1024px) {
          bottom: 60px;
          left: 20px;
          font-size: 2.5vw;
        }
        @media (max-width: 768px) {
          bottom: 125px;
          font-size: 25px;
        }
    }
    p:last-of-type {
      font-size: 2vw;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: -80px;
      left: 160px;
      right: 0;
      color: white;
        @media (max-width: 1024px) {
          bottom: 60px;
          left: 130px;
          font-size: 2.5vw;
        }
        @media (max-width: 768px) {
          bottom: 125px;
          font-size: 25px;
        }
    }
  }
  .info1 {
    width: 100%;
    h1 {
      font-size: 3vw;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: -30px;
      top: 505px;
      left: 0;
      right: 0;
      color: white;
        @media (max-width: 1024px) {
          top: 400px;
          left: 20px;
          font-size: 4vw;
        }
        @media (max-width: 768px) {
          top: 340px;
          font-size: 34px;
        }
    }
  }
}
