$grid-columns: 8;
$grid-column-width: 100% / $grid-columns;
$grid-container-width: 1200px;

.container {
  width: 100%;
  max-width: $grid-container-width;
  margin: 0 auto;

  .row {
    &::before,
    &::after {
      content: '';
      visibility: hidden;
      height: 0;
      display: block;
      clear: both;
    }

      [class*='col-'] {
        width: 100%;
        float: left;
      }

      @media (min-width: 640px) {
        @for $i from 1 through $grid-columns {
          .col-#{$i} {
            width: $grid-column-width * $i;
          }
        }
      }
    }
  }
