#second {

  position: relative;
  background-image: url('../images/background1.jpg');

  .title {
    text-align: center;
    border: 3px solid black;
    margin-top: 40px;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    width: 99%;
  }

  #text {
    margin-top: 40px;
    margin: 0 auto;
    margin: auto;
      h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 35px;
        margin-top: 0;
      }
  }

  .one {
    margin-top: 115px;
    .big:first-of-type {
      background-image: url('../images/cycling6.jpg');
      background-size: cover;
    }

    .news:nth-of-type(2) {
      background-image: url('../images/cycling1.jpg');
    }

    .news:nth-of-type(3) {
      background-image: url('../images/cycling4.jpg');
      margin-top: 4px;
    }
  }

  .big {
    height: 450px;
    width: 48%;
    float: left;
    margin-top: 30px;
    border: 3px solid black;
    position: relative;
  }

  .news {
    float: left;
    margin-top: 30px;
    height: 220px;
    border: 3px solid black;
    background-size: cover;
    width: 48%;
    margin-left: 35px;
    position: relative;
  }

  .text {
    position: absolute;
    bottom: 0;
    padding: 2px;
    display: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 800;
    background: #000;
    opacity: 0.5;
    h3 {
      color: yellow;
      margin-bottom: 0;
    }
  }

  .footer {
    width: 92.3%;
    border: 3px solid black;
    position: absolute;
    bottom: 30px;
  }
}
