#third {
  background-image: url('../images/background.jpg');
  z-index: 2;

.h1 {
    margin-top: -50px;
    width: 99.5%;
  h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 50px;
}
    .aboutus {
      opacity: 0.9;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: 800;
      border: 3px solid black;
      text-align: center;
      color: #fff;
      font-size: 25px;
  }
}
