#third {
  background-image: url('../images/background.jpg');
  z-index: 2;

    @media (max-width: 1024px) {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

.h1 {
    margin-top: -50px;
    width: 99.5%;
  h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 70px;
      }
  }
}
p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 50px;
  padding-left: 20px;
}
    .aboutus {
      background-color: black;
      opacity: 0.6;
      font-weight: 800;
      border: 3px solid black;
      text-align: left;
      color: #fff;
      font-size: 25px;
        @media (max-width: 1024px) {
          font-size: 22px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
  }
}
